<% content_for :title, "Ranking" %>

<h4 class="font-weight-bold mb-4">Ranking</h4>

<p class="mb-4">
  Ayo <%= link_to 'mulai bermain', root_path %> dan dapatkan ranking tertinggi!
</p>

<table class="table table-bordered table-hover text-center">
  <thead class="bg-secondary text-white">
    <tr>
      <th class="w-20">#</th>
      <th class="w-40">Name</th>
      <th class="w-40">Point</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, rank| rank += 1 %>
      <tr>
        <td><%= rank %></td>
        <td><%= user.name %></td>
        <td><%= user.point %></td>
      </tr>
    <% end %>
  </tbody>
</table>

